body{
    font-family: roboto;
    background-color: rgb(244, 244, 244);
    background-color: white(0, 0, 0);
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    padding-top: 23px;
    padding-bottom: 40px;
    /* color: whitesmoke; */
    /* background-color:lightblue; */
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    /* margin-left: 400px;
    margin-right: 400px; */
    width: 60%;
    box-shadow: 0px 0px 10px rgba(0,0,0,00.15);
    margin-bottom: 100px;
}

.options-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 520px;
    padding: 50px;
}

.pic{
    height: 100px;
}

.option-button{
    /* background-color: aqua; */
    padding: 20px ;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

}

.result{
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}

.moves{
    display: flex;
    align-items: center;
    width: 450px;
    justify-content: space-between;
    font-size: 18px;
}

.button-move{
    padding: 15px ;
    border-radius: 50px;
    cursor: pointer;
    /* background-color:black; */
    transition: opacity 0.15s;
    border: none;
  }


  .score-line{
    display: flex;
    font-size: 18px;
    line-height: 28px;
    justify-content: space-between;
    width: 90px;
  }

  .scores{
    padding: 20px;
  }

  .alter-button{
    font-size: 17px;
    padding:8px 25px 8px 25px;
    border-radius: 6px;
    border: none;
    transition: opacity 0.15s;
  }

  .alter-button:active{
    opacity: 0.6;
  }

  .alter-button:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,00.15); 
  }

  .alter-buttons{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 350px;
    padding-bottom: 70px;
  }

